# Introduction to Data Science
## Homework 2

Student Name: Fu Shang

Student Netid: fs1520
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

Place your answer here!

Answer:

First step: Formulate hypothesis
There are two purposes in the research: to discover the moments when a consumer is going through a major life event, and to help the company figure out how to induce their forming of new shopping habits. With the help of behaviorists and by reading relevant documents, data scientists should make hypothesis on what kind of datasets might indicate some specific time nodes, and how to make a marketing plan for each consumer in different stages of life.
For example, moving to a street near a university, changing phone numbers and buying some furnitures and kitchen wares in a short period might indicate one's begining to pursue a higher degree if this happens to a twenties person. Make various hypothesis as candidates.

Second step: Build models (functions), test and train them with data
Analyze the datasets related to the hypothesis, find their distributions, feature types and deal with the outliers. Identify th similarities between different conditions like moments of entering school, marrage, pregnancy and transfer. Consider the selection bias carefully, such as regional disparities, and concept drifts such as a new kind of good might be a substitution of several old kinds. With the analyzed data, fit curves which could indicate whether the consumer is in a specific life event. Train the model with follow-up datasets, choose the best model and improve it.

Third step: Test models and manage follow-up processes
Build cue-ruotine-reward loop models. There should be multiple hypothesis made by the behaviorists, and the company should divide the consumers (assumed to be in specific life events) into groups and test different marketing strategies. Collect follow-up datasets to analyze which hypothesis fits the behavior of some consumers best. All the models should be revised with new data regularly.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [1]:
# Place your code here
!cd /root/Downloads
!ls
!wc -l advertising_events.csv

1007_HW3(1).ipynb      1007_HW3.ipynb	       answer HW3.txt
1007_HW3_git(1).ipynb  ads_dataset.tsv	       file2play.txt
1007_HW3_git.ipynb     advertising_events.csv  Homework_2_Fu_Shang.ipynb
10341 advertising_events.csv

In [ ]:
Answer:10341 lines

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [4]:
# Place your code here
!cat advertising_events.csv|cut -d ',' -f 1|uniq -c|wc -l

10331

In [ ]:
Answer:10331 unique users

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [11]:
# Place your code here
!cat advertising_events.csv|cut -d ',' -f 3|sort -n|uniq -c|sort -n -r 
#uniq -c: each lines continuously appear times
#sort -n: rank in ascending order; -r: rank in inverse order

   3114 google.com
   2092 facebook.com
   1036 youtube.com
   1034 yahoo.com
   1022 baidu.com
    513 wikipedia.org
    511 amazon.com
    382 qq.com
    321 twitter.com
    316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [25]:
# Place your code here
!grep ^37, advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [1]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [12]:
# Place your code here
ads=pd.read_csv('C:/Users/JsFig/OneDrive/NYU 17/1001/HW/ads_dataset.tsv',sep='\t')

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [29]:
def getDfSummary(input_data):
    # Place your code here
    df=pd.DataFrame(input_data)
    output_data=df.describe().T
    output_data['number_nan']=df.isnull().sum()
    output_data['number_distinct']=df.nunique() #numbers of different values
    
    return output_data
getDfSummary(ads)

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,54584.0,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,2327.0,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,54584.0,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,54584.0,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,54584.0,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,54584.0,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,54584.0,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,54584.0,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,54584.0,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,54584.0,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,54584.0,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,54584.0,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [14]:
# Place your code here
%timeit getDfSummary(ads)

10 loops, best of 3: 116 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [ ]:
# Place your code here
Answer: The buy_freq field.

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [34]:
# Place your code here
#ads_pure=ads.dropna(axis=0,how='any')
#getDfSummary(ads_pure)
ads_nan=ads[ads.isnull().values==True]
getDfSummary(ads_nan)

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
buy_freq,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,0
visit_freq,52257.0,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,48
buy_interval,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
sv_interval,52257.0,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5112
expected_time_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
expected_time_visit,52257.0,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,13351
last_buy,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
multiple_visit,52257.0,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,52257.0,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,52257.0,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4570
y_buy,52257.0,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

Answer:
    The data is not missing at random. For the lines which are not buyer data(the isbuyer column indicates 'zero'), the buy_freq column would be filled with NaNs. The statistical data of isbuyer, buy_interval, expected_time_buy and multiple_buy for the lines with missing data are all zero.

6\. Which variables are binary?

In [ ]:
# Place your code here
isbuyer, multiple_buy, multiple_visit and y_buy